<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %> 
<body>
    <%- include('./partials/navbar.ejs') %>
    
    <div class="details">
        <div class="content">
            <h3><%= todo.title %></h3> <p><%= todo.description %> </p>
        </div>
        <div class="links">
            <a class="todo__link" href="/todos/update/<%= todo._id %> ">Edit</a>
            <a class="todo__link delete" data-doc="<%= todo._id %>">Delete</a>
        </div>
    </div>

    <script>

        // Delete Todo
        const deleteTodo = document.querySelector('a.delete');
        deleteTodo.addEventListener('click', () => {
            console.log('delete button clicked');
            const deleteUrl = `/todos/${deleteTodo.dataset.doc}`;
            fetch(deleteUrl,{
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => window.location.href = data.redirect)
            .catch(error => console.log(error));
        });
    </script>
</body>
</html>